POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
PRISMA_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/poc_prisma
DRIZZLE_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/poc_drizzle
PRISMA_API_PORT=3001
DRIZZLE_API_PORT=3002
