# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variable files
.env
.env.*
!.env.example

# Nuxt.js build / generate output
.nuxt
dist
.output

# pnpm
.pnpm-store

# Prisma Client output
apps/prisma-api/src/generated/prisma/

# Bruno environment files
Bruno/environments